
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.notification {

	animation: slideIn 2s ease-in forwards;
	/* animation: slideOut 4s ease-in backwards; */
	opacity: 0;
  width: 100%;
  font-weight: bold;
  display: flex;
  font-size: 1.25em;

  
  align-items: center;

  background-color: white;
  /* width: max-content; */
  padding: 0.25rem 0;
  border-radius: 0.25rem;
  text-transform: capitalize;
  position: absolute;
  top: 6rem;
  /* right: 1rem; */
  z-index: 9999;
}
.notificationContent{
  display: flex;
  padding: .5em 1em ;
  justify-content: flex-start;
  gap: 1em;
  
}
.success{
  background: lightgreen;
}
.danger{
  background: rgba(255, 0, 0, 1);
}
.successText{
  color: darkgreen;
}
.dangerText{
  color: darkred;
}

@keyframes slideIn {
	0% {
		opacity: 1;
	}

	10% {
		opacity: 1;
	}

	94% {
		opacity: 1;
	}

	95% {
		opacity: 1;
	}

	100% {
		/* display: none; */
	}
}